@option compress: no;

/* generated from sass */

@mixin font_unicode() {
    font-family: Consolas, 'Lucida Console', Monaco, monospace;
}

@mixin font_other() {
    font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
}

@mixin linear-gradient($hue, $lum_1, $lum_2, $sat, $angle) {
    background: hsl($hue, $sat, 50%);

    @each $browser in -webkit-, -moz-, -ms-, -o-, '' {
        background-image: #{$browser}linear-gradient($angle, hsl($hue, $sat, $lum_1), hsl($hue, $sat, $lum_2));
    }
    border: 1px solid hsl($hue, $sat, 30%);
}

@for $i from 0 through 8 { /* everything above 8 would be to dark */
    .gray-#{$i} {
        background-color: hsl(0, 0%, 100 - $i * 2);
    }
}

table.natto_container {
    background: #eee;
    display:table;
    border-radius: 3px;
    border-spacing: 1px;
    box-shadow:2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-bottom:10px;

    font-size:9pt;

     th {
        padding:3px;
        background:#ffa500;
        color:#583900;
        text-align:left;
        font-size:small;
        font-weight:normal;
        border-radius: 2px;
        @include font_unicode();

        span.label {
            font-weight:bold;
            color:#5a00a3;
        }
    }

    td {
        padding:0px;
    }

    span.border_spaces, span.tabs {
        $start = #eee;
        $end   = #f5f5f5;

        @each $browser in -webkit-, -moz-, -ms-, -o-, '' {
            background-image: #{$browser}linear-gradient( left, $start 0%, $start 1px, $end 1px, $end 100% );
        }
    }

    div.skipped {
        color:#888;
    }

    span.html_tag {
        color:blue;
    }
    
    div.recursion {
        white-space:nowrap;
        color:red;
    }
    
    div.max_depth{
        white-space:nowrap;
        color:red;
    }

    div.max_i{
        white-space:nowrap;
        color:red;
    }

    div.docstring_container {
        background:#ffff8e;
        padding:1px;
        border-radius: 3px;
        border:2px solid #f1d02b;
        display:table;
    }

    div.docstring_expander {
        padding-left:20px;
        width:14px;
        height:14px;
        display:table;
        background:url(/static/images/expand.gif) left top no-repeat;
    }

    div.docstring {
        padding:4px;
        padding-top:10px;
        white-space:pre;
        display:none;
    }

    div.value {
        @include font_unicode();
        white-space:pre;
        &.type_bool_true {
            font-weight:bold;
            color:#5ba800;
        }
        &.type_none {
            font-weight:bold;
            color:#ff9411;
        }
        &.type_bool_false {
            font-weight:bold;
            color:#d90014;
        }
        &.type_number {
            color:#3c32ff;
        }
        &.type_unicode {
            color:#50097c;
        }
        &.type_str {
            color:#000000;
        }
        &.type_func {
            color:#009600;
        }
        &.type_other {
            color:blue;
        }
        
    }

    div.funcalike {
        color:green;
    }
    div.empty {
        color:#ff9411;
    }
    div.repetition {
        white-space:nowrap;
        color:#890089;
    }
    
    div.blacklisted {
        color:#890089;
    }

    a {
        color: #E00086;
        &:hover { color: #960057; }
        &:visited { color: #E00086; }
    }
}

table.natto {

    border-collapse:separate;
    width:100%;
    border-spacing: 1px;
    th.key {
        @include font_unicode();
        white-space:nowrap;
        border-radius: 2px;
        text-align:left;
        padding:0px 1px 0px 1px;
        font-weight:normal;
        font-size:small;
        color:#fff;
        vertical-align:middle;

        text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.4);

        $lum_1:   35%;
        $lum_2:   42%;
        $sat:     80%;
        $angle:-75deg;

        background-color:#79ac12;
        @include linear-gradient(80, $lum_1, $lum_2, $sat, $angle);

        &.type_dict {
            background-color:#b71357;
            @include linear-gradient(335, $lum_1, $lum_2, $sat, $angle);
        }
        &.type_sequence {
            background-color:#1486bf;
            @include linear-gradient(200, $lum_1, $lum_2, $sat, $angle);
        }
        &.type_generator {
            background-color:#1486bf;
            @include linear-gradient(100, $lum_1, $lum_2, $sat, $angle);
        }
        &.highlight {
            background-color:#ff2f11;
            @include linear-gradient(0, 50, 70, 100, 70deg);
        }
        
        &.last_item {
            border-radius: 2px 2px 10px 2px;
        }
        
    }

    tr.other_title th {
        background:#bcbcbc;
        color:#000;
        font-weight:normal;
        font-size:9pt;
        border-radius: 2px 10px 2px 2px;
        background-color:#FFE993;
        white-space:nowrap;
        @include linear-gradient(48, 50%, 55%, 100%, 70deg);

    }
    
    td {
        @include font_unicode();
        border-radius: 2px;
        font-size:small;
        width:100%;
        padding:0px;
        padding-left:1px;
    }
    
}
tr.last-item th {
    background:red !important;
}
