<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Natto</title>
<link rel="stylesheet" href="/style.css">
</head>

<body>
<h4>natto(request, label='werkzeug request', max_i=400)</h4>
{% block content %}{% endblock %}


</body>
</html>
